<app-banner 
    [bgImageDesktop]="'assets/banners/boc-banner-faq.jpeg'" 
    [bgImageMobile]="'assets/banners/boc-banner-faq-small.jpeg'" 
    [titleType]="'text'"
    [titleContent]="'Frequently Asked Questions'"
    [showContent]="false"
></app-banner>

<div class="d-flex flex-column" style="margin-top: 2rem; margin-bottom: 4rem;">
    <div class="d-flex justify-content-center">
        <div class="faq-container">
          
          <!-- Various Questions -->
            <mat-accordion *ngFor="let q of questions; index as i">
                <mat-expansion-panel  class="no-border bg-white" 
                                    (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false"
                                    [expanded]="true"
                                    >
                  <mat-expansion-panel-header class="bg-light-gray">
                    <mat-panel-title>
                      <b class="pl-4">{{ q.title }}</b>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="pl-4 pt-4">
                    <span>{{ q.text }}</span>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>

        </div>
    </div>
</div>

