<div id="header" class="row no-gutters">
    <div class="col-12">
        <div class="collapse show w-100">
            <ul class="nav justify-content-between w-100">
                <div class="d-flex flex-row align-self-start">
                    <li class="nav-item">
                        <a class="nav-link" href="tel:6192705368" target="__blank">US: +1(619)-270-5368</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tel:011526646347626" target="__blank">MX: +1(664)-634-7626</a>
                    </li>
                    <li class="nav-item d-none d-lg-block">
                        <a class="nav-link" href="mailto:bajaoralcenter@gmail.com?subject=Hi!%20I%20need%20help%20for%20a%20treatment." target="__blank">bajaoralcenter@gmail.com</a>
                    </li>
                </div>
                <div>
                    <li class="nav-item">
                        <div class="nav-link">
                            <a href="https://www.facebook.com/BajaOralCenter" target="__blank">
                                <fa-icon class="pl-1 pr-2 pr-md-4" [icon]="faFacebook" size="md"></fa-icon>
                            </a>
                            <a href="https://www.instagram.com/bajaoralcenter" target="__blank">
                                <fa-icon class="pl-1 pr-2 pr-md-4" [icon]="faInstagram" size="md"></fa-icon>
                            </a>
                            <a href="https://api.whatsapp.com/send?phone=6192705368" target="__blank">
                                <fa-icon class="pl-1 pr-2 pr-md-4" [icon]="faWhatsapp" size="md"></fa-icon>
                            </a>
                            <a class="d-inline-block d-lg-none" href="mailto:bajaoralcenter@gmail.com?subject=Hi!%20I%20need%20help%20for%20a%20treatment." target="__blank">
                                <fa-icon class="pl-1 pr-2 pr-md-4" [icon]="faEnvelope" size="md"></fa-icon>
                            </a>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>