<div id="footer" class="d-flex">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between w-100">
        <span>Baja Oral Center 2020 - All rights reserved</span>
        <div class="d-flex justify-content-center pb-3 pb-md-0">
            <a href="https://www.facebook.com/BajaOralCenter" target="__blank">
                <fa-icon class="px-3" [icon]="faFacebook" size="sm"></fa-icon>
            </a>
            <a href="https://www.instagram.com/bajaoralcenter" target="__blank">
                <fa-icon class="px-3" [icon]="faInstagram" size="sm"></fa-icon>
            </a>
            <a href="https://api.whatsapp.com/send?phone=6192705368" target="__blank">
                <fa-icon class="px-3" [icon]="faWhatsapp" size="sm"></fa-icon>
            </a>
        </div>
    </div>
</div>