#footer {
    padding: 0 2rem;
    bottom: 0;
    z-index: 10;
    background-color: white;
    border-top: 1px solid #c7b59b;

    span {
        font-size: .7rem;
        margin: 1rem 0;
        color: var(--secondary);
    }
}
