<div id="banner" class="d-flex align-items-center">
    <div class="flex-fill flex-column main-txt w-50">
        <h1>
            Dr. Miguel G Yee
        </h1>
        <hr class="w-50">
        <h3 class="text-info">Cosmetic dentist / Implants</h3>
    </div>
    <div class="flex-fill d-none d-md-block w-50"></div>
</div>

<div id="info">
    <div class="d-flex flex-column">
        <!-- Element Box - Img/Text -->
        <div class="d-flex flex-column flex-lg-row info-box">
            <div class="d-flex flex-fill justify-content-center w-100 order-2 order-lg-1">
                <img src="assets/560x286.jpg" alt="" class="img-fluid">
            </div>
            <div class="d-flex flex-fill justify-content-center justify-content-lg-start align-items-md-end pb-lg-4 w-100 order-1 order-lg-2">
                <div class="info-txt">
                    <h3>Experience & leadership</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum, 
                        eros massa imperdiet urna, a feugiat nulla est et libero.</p>
                </div>
            </div>
        </div>
        <!-- Element Box - Text/Img -->
        <div class="d-flex flex-column flex-lg-row info-box bg-light">
            <div class="d-flex flex-fill justify-content-center w-100 order-2">
                <img src="assets/560x286.jpg" alt="" class="img-fluid">
            </div>
            <div class="d-flex flex-fill justify-content-center align-items-lg-end pb-lg-4 w-100 order-1">
                <div class="info-txt">
                    <h3>My mission</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum, 
                        eros massa imperdiet urna, a feugiat nulla est et libero.</p>
                    </div>
                </div>
        </div>
        <!-- Element Box - Img/Text -->
        <div class="d-flex flex-column flex-lg-row info-box">
            <div class="d-flex flex-fill justify-content-center w-100 order-2 order-lg-1">
                <img src="assets/560x286.jpg" alt="" class="img-fluid">
            </div>
            <div class="d-flex flex-fill justify-content-center justify-content-lg-start align-items-md-end pb-lg-4 w-100 order-1 order-lg-2">
                <div class="info-txt">
                    <h3>Academic</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum, 
                        eros massa imperdiet urna, a feugiat nulla est et libero.</p>
                </div>
            </div>
        </div>
    </div>
</div>