<app-banner 
    [bgImageDesktop]="'assets/img/boc-banner-drvalenzuela.png'" 
    [bgImageMobile]="'assets/img/boc-banner-drvalenzuela-small.png'" 
    [titleType]="'image'" 
    [titleContent]="'assets/img/signatures/s-drvalenzuela.png'" 
    [subtitleHtml]="subtitleHtml" ></app-banner>

<div id="info">
    <div class="d-flex flex-column">
        <!-- Element Box - Img/Text -->
        <div class="d-flex flex-column flex-lg-row info-box pt-md-5 pt-2">
            <div class="d-flex flex-fill justify-content-center w-100 order-2 order-lg-1">
                <img src="assets/img/doc/valenzuela-1.jpg" alt="" class="img-fluid info-img-1">
            </div>
            <div class="d-flex flex-fill justify-content-center justify-content-lg-start align-items-md-center pb-lg-4 w-100 order-1 order-lg-2">
                <div class="info-txt">
                    <h4>Experience</h4>
                    <hr>
                    <p>The youngest of our team of dentist but his knowledge and gentle hands will make your experience twice as pleasant, 
                        always committed to giving the best of himself for the success of treatments and having a predictable result for his patients, 
                        he loves his profession but what he is really passionate about is the world of dental implantology.</p>
                </div>
            </div>
        </div>
        <!-- Element Box - Text/Img -->
        <div class="d-flex flex-column flex-lg-row info-box bg-light">
            <div class="d-flex flex-fill justify-content-center w-100 order-2">
                <img src="assets/img/doc/valenzuela-3.jpg" alt="" class="img-fluid info-img-2">
            </div>
            <div class="d-flex flex-fill justify-content-center align-items-lg-center pb-lg-4 w-100 order-1">
                <div class="info-txt">
                    <h4>Mission</h4>
                    <hr>
                    <p>“Be always in constant research of new techniques and technologies to solve any situation or condition in the 
                        oral health for my patients and return their confidence and smile”.</p>
                    </div>
                </div>
        </div>
        <!-- Element Box - Img/Text -->
        <div class="d-flex flex-column flex-lg-row info-box">
            <div class="d-flex flex-fill justify-content-center w-100 order-2 order-lg-1">
                <img src="assets/img/doc/valenzuela-2.jpg" alt="" class="img-fluid info-img-3">
            </div>
            <div class="d-flex flex-fill justify-content-center justify-content-lg-start align-items-md-center pb-lg-4 w-100 order-1 order-lg-2">
                <div class="info-txt">
                    <h4>Academic</h4>
                    <hr>
                    <p>Graduated with honors in 2019 from the School of Dentistry of the Autonomous University of Baja California.
                        <br/>
                        He is currently studying a residency specialty in implant surgery and oral rehabilitation.</p>
                </div>
            </div>
        </div>
    </div>
</div>