<app-banner 
    [bgImageDesktop]="'assets/img/boc-banner-services.png'" 
    [bgImageMobile]="'assets/img/boc-banner-services-small.png'" 
    [titleType]="'text'" 
    [titleContent]="'Services'" 
    [subtitleHtml]="subtitleHtml"
    [buttonText]="'Make an appointment'" ></app-banner>

<div id="services">
    <div class="d-flex d-md-none flex-wrap">
        <!-- Element Box -->
        <div class="d-flex service-box flex-fill">
            <a routerLink="/services/aesthetic" class="w-100">
                <div class="d-flex flex-column align-items-md-end">
                    <div class="d-flex align-items-center justify-content-start w-100">
                        <div class="service-icon">
                            <img src="assets/icons/service-general.svg" alt="" class="img-fluid">
                        </div>
                        <div>
                            <h4>Aesthetic dentistry</h4>
                            <hr class="m-0">
                        </div>
                    </div>
                    <div class="mt-4 service-txt justify-content-start w-100">
                        <p>
                            It’s not about having a new set of teeth. It’s reclaiming your youthful smile!
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Element Box -->
        <div class="d-flex service-box flex-fill">
            <a routerLink="/services/veneers" class="w-100">
                <div class="d-flex flex-column align-items-md-end">
                    <div class="d-flex align-items-center justify-content-start w-100">
                        <div class="service-icon">
                            <img src="assets/icons/service-cosmetic.svg" alt="" class="img-fluid">
                        </div>
                        <div>
                            <h4>Veneers</h4>
                            <hr class="m-0">
                        </div>
                    </div>
                    <div class="mt-4 service-txt justify-content-start w-100">
                        <p>
                            You Dream it, You live it.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Element Box -->
        <div class="d-flex service-box flex-fill">
            <a routerLink="/services/zirconia" class="w-100">
                <div class="d-flex flex-column align-items-md-end">
                    <div class="d-flex align-items-center justify-content-start w-100">
                        <div class="service-icon">
                            <img src="assets/icons/service-implant.svg" alt="" class="img-fluid">
                        </div>
                        <div>
                            <h4>Zirconia crowns</h4>
                            <hr class="m-0">
                        </div>
                    </div>
                    <div class="mt-4 service-txt justify-content-start w-100">
                        <p>
                            The best of two worlds, durability & aesthetics; say goodbye to the metal frame and fragile porcelain.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Element Box -->
        <div class="d-flex service-box flex-fill">
            <a routerLink="/services/allon4" class="w-100">
                <div class="d-flex flex-column align-items-md-end">
                    <div class="d-flex align-items-center justify-content-start w-100">
                        <div class="service-icon">
                            <img src="assets/icons/service-periodontic.svg" alt="" class="img-fluid">
                        </div>
                        <div>
                            <h4>All on 4 / All on X</h4>
                            <hr class="m-0">
                        </div>
                    </div>
                    <div class="mt-4 service-txt justify-content-start w-100">
                        <p>
                            Secure the way you talk and eat, forget about that insecurity that gives you loose dentures.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Element Box -->
        <div class="d-flex service-box flex-fill">
            <a routerLink="/services/dental-implants" class="w-100">
                <div class="d-flex flex-column align-items-md-end">
                    <div class="d-flex align-items-center justify-content-start w-100">
                        <div class="service-icon">
                            <img src="assets/icons/service-endodontic.svg" alt="" class="img-fluid">
                        </div>
                        <div>
                            <h4>Dental implants</h4>
                            <hr class="m-0">
                        </div>
                    </div>
                    <div class="mt-4 service-txt justify-content-start w-100">
                        <p>
                            Your best option to recover a lost tooth.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Element Box -->
        <div class="d-flex service-box flex-fill">
            <a routerLink="/services/root-canal" class="w-100">
                <div class="d-flex flex-column align-items-md-end">
                    <div class="d-flex align-items-center justify-content-start w-100">
                        <div class="service-icon">
                            <img src="assets/icons/service-oral.svg" alt="" class="img-fluid">
                        </div>
                        <div>
                            <h4>Root canal treatment</h4>
                            <hr class="m-0">
                        </div>
                    </div>
                    <div class="mt-4 service-txt justify-content-start w-100">
                        <p>
                            Tooth Pain? Broken tooth? Give your tooth another chance.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Element Box -->
        <div class="d-flex service-box flex-fill">
            <a routerLink="/services/sedation" class="w-100">
                <div class="d-flex flex-column align-items-md-end">
                    <div class="d-flex align-items-center justify-content-start w-100">
                        <div class="service-icon">
                            <img src="assets/icons/service-periodontic.svg" alt="" class="img-fluid">
                        </div>
                        <div>
                            <h4>Sedation</h4>
                            <hr class="m-0">
                        </div>
                    </div>
                    <div class="mt-4 service-txt justify-content-start w-100">
                        <p>
                            What a better way than to close your eyes and wake up with a new smile.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Element Box -->
        <div class="d-flex service-box flex-fill">
            <a routerLink="/services/orofacial" class="w-100">
                <div class="d-flex flex-column align-items-md-end">
                    <div class="d-flex align-items-center justify-content-start w-100">
                        <div class="service-icon">
                            <img src="assets/icons/service-oral.svg" alt="" class="img-fluid">
                        </div>
                        <div>
                            <h4>Orofacial armonization</h4>
                            <hr class="m-0">
                        </div>
                    </div>
                    <div class="mt-4 service-txt justify-content-start w-100">
                        <p>
                            Your teeth are only the beginning.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Element Box -->
        <div class="d-flex service-box flex-fill">
            <div class="d-flex flex-column align-items-md-end">
                <div class="d-flex align-items-center justify-content-start w-100">
                    <div class="service-icon">
                    </div>
                    <div>
                        <h4></h4>
                        <hr class="m-0">
                    </div>
                </div>
                <div class="mt-4 service-txt justify-content-start w-100">
                    <p>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="d-none d-md-flex flex-wrap justify-content-around">
        <app-card 
            [icon]="'url(https://material.angular.io/assets/img/examples/shiba1.jpg)'"
            [image]="'https://material.angular.io/assets/img/examples/shiba2.jpg'"
            [title]="'Shiba Inu'"
            [subtitle]="'Dog Breed'"
            [text]="'The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.'"
            [linkUrl]="'/services/aesthetic'"
        ></app-card>
        <app-card 
            [icon]="'url(https://material.angular.io/assets/img/examples/shiba1.jpg)'"
            [image]="'https://material.angular.io/assets/img/examples/shiba2.jpg'"
            [title]="'Shiba Inu'"
            [subtitle]="'Dog Breed'"
            [text]="'The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.'"
            [linkUrl]="'/services/aesthetic'"
        ></app-card>
        <app-card 
            [icon]="'url(https://material.angular.io/assets/img/examples/shiba1.jpg)'"
            [image]="'https://material.angular.io/assets/img/examples/shiba2.jpg'"
            [title]="'Shiba Inu'"
            [subtitle]="'Dog Breed'"
            [text]="'The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.'"
            [linkUrl]="'/services/aesthetic'"
        ></app-card>
        <app-card 
            [icon]="'url(https://material.angular.io/assets/img/examples/shiba1.jpg)'"
            [image]="'https://material.angular.io/assets/img/examples/shiba2.jpg'"
            [title]="'Shiba Inu'"
            [subtitle]="'Dog Breed'"
            [text]="'The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.'"
            [linkUrl]="'/services/aesthetic'"
        ></app-card>
    </div>
</div>
