<div id="banner" class="d-flex align-items-center">
    <div class="flex-fill flex-column main-txt">
        <h1 class="text-left text-md-center">
            Services
        </h1>
        <hr>
        <div class="text-left text-md-center">
            <button class="btn btn-info">Make an appointment</button>
        </div>
    </div>
    <div class="flex-fill d-none d-md-block"></div>
</div>

<div id="services">
    <div class="d-flex flex-wrap">
        <!-- Element Box -->
        <div class="d-flex service-box flex-fill">
            <div class="d-flex flex-column align-items-md-end">
                <div class="d-flex align-items-center justify-content-start w-100">
                    <div class="service-icon">
                        <img src="assets/icons/service-general.svg" alt="" class="img-fluid">
                    </div>
                    <div>
                        <h3>General dentistry</h3>
                        <hr class="m-0">
                    </div>
                </div>
                <div class="mt-4 service-txt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <!-- Element Box -->
        <div class="d-flex service-box flex-fill">
            <div class="d-flex flex-column align-items-md-end">
                <div class="d-flex align-items-center justify-content-start w-100">
                    <div class="service-icon">
                        <img src="assets/icons/service-cosmetic.svg" alt="" class="img-fluid">
                    </div>
                    <div>
                        <h3>Cosmetic dentistry</h3>
                        <hr class="m-0">
                    </div>
                </div>
                <div class="mt-4 service-txt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum, 
                        eros massa imperdiet urna, a feugiat nulla est et libero.</p>
                </div>
            </div>
        </div>
        <!-- Element Box -->
        <div class="d-flex service-box flex-fill">
            <div class="d-flex flex-column align-items-md-end">
                <div class="d-flex align-items-center justify-content-start w-100">
                    <div class="service-icon">
                        <img src="assets/icons/service-implant.svg" alt="" class="img-fluid">
                    </div>
                    <div>
                        <h3>Dental implant</h3>
                        <hr class="m-0">
                    </div>
                </div>
                <div class="mt-4 service-txt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <!-- Element Box -->
        <div class="d-flex service-box flex-fill">
            <div class="d-flex flex-column align-items-md-end">
                <div class="d-flex align-items-center justify-content-start w-100">
                    <div class="service-icon">
                        <img src="assets/icons/service-endodontic.svg" alt="" class="img-fluid">
                    </div>
                    <div>
                        <h3>Endodontics</h3>
                        <hr class="m-0">
                    </div>
                </div>
                <div class="mt-4 service-txt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum, 
                        eros massa imperdiet urna, a feugiat nulla est et libero.</p>
                </div>
            </div>
        </div>
        <!-- Element Box -->
        <div class="d-flex service-box flex-fill">
            <div class="d-flex flex-column align-items-md-end">
                <div class="d-flex align-items-center justify-content-start w-100">
                    <div class="service-icon">
                        <img src="assets/icons/service-periodontic.svg" alt="" class="img-fluid">
                    </div>
                    <div>
                        <h3>Periodontics</h3>
                        <hr class="m-0">
                    </div>
                </div>
                <div class="mt-4 service-txt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum, 
                        eros massa imperdiet urna, a feugiat nulla est et libero.</p>
                </div>
            </div>
        </div>
        <!-- Element Box -->
        <div class="d-flex service-box flex-fill">
            <div class="d-flex flex-column align-items-md-end">
                <div class="d-flex align-items-center justify-content-start w-100">
                    <div class="service-icon">
                        <img src="assets/icons/service-oral.svg" alt="" class="img-fluid">
                    </div>
                    <div>
                        <h3>Oral surgery</h3>
                        <hr class="m-0">
                    </div>
                </div>
                <div class="mt-4 service-txt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum, 
                        eros massa imperdiet urna, a feugiat nulla est et libero.</p>
                </div>
            </div>
        </div>
    </div>
    
</div>
