<app-banner 
    [bgImageDesktop]="'assets/banners/boc-banner-ourservices.jpeg'" 
    [bgImageMobile]="'assets/banners/boc-banner-ourservices-small.jpeg'" 
    [titleType]="'text'" 
    [titleContent]="'Services'" 
    [subtitleHtml]="subtitleHtml"
    [buttonText]="'Make an appointment'" 
    [showContent]="false"
></app-banner>

<div class="d-flex justify-content-center">
        <div id="services" class="d-flex flex-wrap justify-content-center justify-content-md-between">
            <app-card 
                [icon]="'url(assets/icons/service-general.svg)'"
                [image]="'assets/img/services/s-6.png'"
                [title]="'Advanced dentistry'"
                [subtitle]="'Shine with your smile'"
                [text]="'It’s not just about having new teeth. Feel confident in reclaiming your bright and youthful smile!'"
                [linkUrl]="'/services/advanced-dentistry'"
            ></app-card>
            <app-card 
                [icon]="'url(assets/icons/service-cosmetic.svg)'"
                [image]="'assets/banners/boc-banner-veneers-small.jpeg'"
                [title]="'Veneers'"
                [subtitle]="'Natural look, long lasting.'"
                text="<i>Archieve the smile of your dreams. Boost your confidence.</i> You dream it, you live it. Archieve the natural smile you've always wanted and reclaim your confidence with porcelain veneers."
                [linkUrl]="'/services/veneers'"
            ></app-card>
            <app-card 
                [icon]="'url(assets/icons/service-implant.svg)'"
                [image]="'assets/banners/boc-banner-zirconia-small.jpeg'"
                [title]="'Zirconia crowns'"
                [subtitle]="'Subtitle'"
                [text]="'The best of two worlds, durability & aesthetics; say goodbye to the metal frame and fragile porcelain.'"
                [linkUrl]="'/services/zirconia'"
            ></app-card>
            <app-card 
                [icon]="'url(assets/icons/service-periodontic.svg)'"
                [image]="'assets/banners/boc-banner-allon4-small.jpeg'"
                [title]="'All on 4 - X'"
                [subtitle]="'All on X'"
                [text]="'Secure the way you talk and eat, forget about that insecurity that gives you loose dentures.'"
                [linkUrl]="'/services/allon4-x'"
            ></app-card>
            <app-card 
                [icon]="'url(assets/icons/service-endodontic.svg)'"
                [image]="'assets/banners/boc-banner-implants-small.jpeg'"
                [title]="'Dental implants'"
                [subtitle]="'Replace missing teeth.'"
                [text]="'<i>Strong and durable.</i> Replace your missing teeth with strong and durable dental implants. Regain the comfort of having a complete, healthy smile.'"
                [linkUrl]="'/services/dental-implants'"
            ></app-card>
            <app-card 
                [icon]="'url(assets/icons/service-oral.svg)'"
                [image]="'assets/banners/boc-banner-rootcanal-small.jpg'"
                [title]="'Root canal treatment'"
                [subtitle]="'Subtitle'"
                [text]="'Tooth Pain? Broken tooth? Give your tooth another chance.'"
                [linkUrl]="'/services/root-canal'"
            ></app-card>
            <app-card 
                [icon]="'url(assets/icons/service-periodontic.svg)'"
                [image]="'assets/banners/boc-banner-dental-small.jpeg'"
                [title]="'Dental Aligners'"
                [subtitle]="'Subtitle'"
                [text]="'What a better way than to close your eyes and wake up with a new smile.'"
                [linkUrl]="'/services/dental-aligners'"
            ></app-card>
            <app-card 
                [icon]="'url(assets/icons/service-oral.svg)'"
                [image]="'assets/banners/boc-banner-botox-small.jpg'"
                [title]="'Botox & Fillers'"
                [subtitle]="'Subtitle'"
                [text]="'Your teeth are only the beginning.'"
                [linkUrl]="'/services/botox-fillers'"
            ></app-card>
            <app-card 
                [icon]="'url(assets/icons/service-general.svg)'"
                [image]="'assets/img/services/s-6.png'"
                [title]="'Cosmetic dentistry'"
                [subtitle]="'Shine with your smile'"
                [text]="'It’s not just about having new teeth. Feel confident in reclaiming your bright and youthful smile!'"
                [linkUrl]="'/services/cosmetic-dentistry'"
            ></app-card>
            <div style="width: 360px;"></div>
        </div>
</div>
