.example-card {
    max-width: 360px;
    margin: 16px auto;
    
    /* ----- Shinny Glass Effect ----- */
    overflow: hidden;
    &::before {
        content: '';
        background: rgba(white, 0.2);
        width: 20%;
        height: 100%;
        top: 0%;
        left: -125%;
        z-index: 10;
  
        transform: skew(45deg);
  
        position: absolute;
  
        transition: left 500ms ease-out;
    }
    &:hover {
        &::before {
            left: 150%;
        }
    }
    /* ----- Shinny Glass Effect ----- */

    &:hover {
        cursor: pointer;
        background-color: #0000001f;

        .whiteout:after {
            background: rgba(255,255,255,0.5);
            transition: background 500ms ease-out;
        }
    }
}
  
.example-header-image {
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
}

.mat-img-box {
    position: relative;
}
.whiteout:after {
    position: absolute;
    content: '';
    display: block;
    top: -16px;
    left: -16px;
    right: -16px;
    bottom: 0;
    background: rgba(255,255,255,0);
    transition: background 500ms ease;
}

/* ------- Override Default Classes ------- */
.mat-card-image {
    margin: 0 -16px 0 -16px;
}
.mat-card-content {
    height: 100px;
}
p {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto';
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0px 5px 5px -6px rgb(0 0 0 / 10%), 0px -1px 8px 0px rgb(0 0 0 / 7%), 0px 8px 12px 0px rgb(0 0 0 / 6%);
}