<div id="prices-table">
    <div class="d-flex flex-row align-items-center text-boc-primary title">
        <div *ngIf="iconUrl; else defaultIcon">
            <img [src]="iconUrl" alt="">
        </div>
        <ng-template #defaultIcon>
            <fa-icon class="pl-1 pr-4" [icon]="faMoneyBillAlt" size="lg"></fa-icon>
        </ng-template>
        <h4>{{ title }}</h4>
    </div>
    <div class="separator"></div>
    <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-between bg-light table-header">
            <div class="w-col-1">
                <h5>Service</h5>
            </div>
            <div class="w-col-2 d-flex flex-row justify-content-between">
                <h5>BOC Price</h5>
                <!-- <h5>USA Price</h5> -->
            </div>
        </div>
        <div *ngFor="let service of services" class="d-flex flex-row justify-content-between border-bottom table-row">
            <div class="w-col-1">
                <span>{{ service?.name }}</span>
            </div>
            <div class="w-col-2 d-flex flex-row justify-content-between align-items-end">
                <div class="d-flex align-items-end">
                    <span><b>{{ service?.boc_price }}</b></span>
                    <span *ngIf="!service?.currency_off" class="currency">USD</span>
                </div>
                <span class="extra"><b>{{ service?.extra }}</b></span>
                <!-- <span><b>{{ service?.usa_price }}</b></span> -->
            </div>
        </div>
    </div>
</div>