<app-banner 
    [bgImageDesktop]="'assets/img/boc-banner-home.png'" 
    [bgImageMobile]="'assets/img/boc-banner-home-small.png'" 
    [titleType]="'text'"
    [titleContent]="'Book your Appointment'" ></app-banner>

<div id="contact">
    <div class="d-flex flex-column flex-md-row contact-box">
        <div class="d-flex justify-content-end align-items-center form">
            <div class="form-box">
                <app-contact-card [full]="false"></app-contact-card>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center info">
            <div class="d-flex flex-column info-box">
                <h4>Baja Oral Center</h4>
                <div class="d-flex flex-column py-2">
                    <span>José Clemente Orozco 10122</span>
                    <span>Zona Urbana Rio Tijuana</span>
                    <span>22010 Tijuana, B.C.</span>
                </div>
                <div class="d-flex flex-column py-2">
                    <span><b>Mon - Fri:</b> 9:30am to 5pm</span>
                    <span><b>Sat:</b> 9am to 3pm</span>
                    <span><b>Sun:</b> Closed</span>
                </div>
                <div class="d-flex flex-column py-2">
                    <span><b>US:</b> 619-270-5368</span>
                    <span><b>MX:</b> 664-634-7626</span>
                </div>
                <span><b>bajaoralcenter@gmail.com</b></span>
            </div>
        </div>
    </div>

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="false">
        <agm-marker [latitude]="lat" [longitude]="lng">
            <agm-info-window>Baja Oral Center</agm-info-window>
        </agm-marker>
    </agm-map>
</div>