<div id="banner" class="d-flex align-items-center">
    <img src="assets/img/boc-banner-home.png" alt="" class="bg-img d-none d-lg-block">
    <img src="assets/img/boc-banner-home-small.png" alt="" class="bg-img d-block d-lg-none">
    <div class="flex-fill flex-column main-txt w-50">
        <h1 class="text-left">
            Make an Appointment
        </h1>
        <hr>
    </div>
    <div class="flex-fill d-none d-md-block w-50"></div>
</div>

<div id="contact">
    <div class="d-flex flex-column flex-md-row contact-box">
        <div id="form" class="d-flex justify-content-end">
            <div class="d-flex flex-column w-100 form-box">
                <p>Forma</p>
                <input type="text">
            </div>
        </div>
        <div id="info" class="d-flex justify-content-start">
            <div class="d-flex flex-column w-100 info-box">
                <p>Info</p>
                <p>Más texto</p>
            </div>
        </div>
    </div>
</div>