<app-banner 
    [bgImageDesktop]="'assets/banners/boc-banner-prices.jpeg'" 
    [bgImageMobile]="'assets/banners/boc-banner-prices-small.jpeg'" 
    [titleType]="'text'"
    [titleContent]="'General Service'"
    [buttonText]="'Make an Appointment'" 
    [showContent]="false"
></app-banner>

<div class="d-flex flex-column mt-4">
    <!-- Promotions Cards -->
    <!-- Dental insurances or partner companies (3M, Strauman) -->
    <div class="d-flex justify-content-center">
        <div class="prices-container">
            <div class="d-flex justify-content-between align-items-end border-bottom border-black" style="margin-top: 3rem; margin-bottom: 2rem;">
                <h2>Prices</h2>
                <!-- <img src="assets/icons/cash.png" style="width: 200px; margin-bottom: -3rem; margin-right: 2rem;" alt=""> -->
            </div>
            <p style="color: #455f68; margin-bottom: 4vw;">
                Taking into account the experience, attention and results of our work, we believe our fees to be
                extremely competitive.
            </p>
            <app-price-table 
                [title]="'General Dentistry'" 
                [text]="'We diagnose, treat, and manage overall your oral healthcare. All with a common goal: to help you archieve the perfect smile you deserve.'" 
                [iconUrl]="'assets/icons/prices-general.svg'"
                [services]="services.general"
            ></app-price-table>
            <app-price-table 
                [title]="'Cosmetic Dentistry'"
                [text]="'We diagnose, treat, and manage overall your oral healthcare. All with a common goal: to help you archieve the perfect smile you deserve.'" 
                [iconUrl]="'assets/icons/prices-cosmetic.svg'"
                [services]="services.cosmetic"
            ></app-price-table>
            <app-price-table 
                [title]="'Dental Implant'"
                [text]="'We diagnose, treat, and manage overall your oral healthcare. All with a common goal: to help you archieve the perfect smile you deserve.'" 
                [iconUrl]="'assets/icons/prices-implants.svg'"
                [services]="services.implants"
            ></app-price-table>
            <app-price-table 
                [title]="'Endodontics'"
                [text]="'We diagnose, treat, and manage overall your oral healthcare. All with a common goal: to help you archieve the perfect smile you deserve.'" 
                [iconUrl]="'assets/icons/prices-endodontics.svg'"
                [services]="services.endodontics"
            ></app-price-table>
            <app-price-table 
                [title]="'Periodontics'"
                [text]="'We diagnose, treat, and manage overall your oral healthcare. All with a common goal: to help you archieve the perfect smile you deserve.'" 
                [iconUrl]="'assets/icons/prices-periodontics.svg'"
                [services]="services.periodontics"
            ></app-price-table>
            <app-price-table 
                [title]="'Orthodontics'"
                [text]="'We diagnose, treat, and manage overall your oral healthcare. All with a common goal: to help you archieve the perfect smile you deserve.'" 
                [iconUrl]="'assets/icons/prices-orthodontics.svg'"
                [services]="services.orthodontics"
            ></app-price-table>
            <app-price-table 
                [title]="'Oral Surgery'"
                [text]="'We diagnose, treat, and manage overall your oral healthcare. All with a common goal: to help you archieve the perfect smile you deserve.'" 
                [iconUrl]="'assets/icons/prices-oral.svg'"
                [services]="services.oral_surgery"
            ></app-price-table>
        </div>
    </div>
</div>