.fixed-body {
    margin-top: 60px;

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        margin-top: 0;
    }
}

.fix-bottom-right {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
}