// Disable Material expansion panel animations
mat-expansion-panel,
mat-expansion-panel * {
  transition: none !important;
}

hr {
    width: 80%;
    margin: 1rem 15px 1rem;
    border-top: 1px solid var(--boc-secondary);
}

.brand {
    :hover {
        transform: scale(1.05);
        transition: all 200ms;
    }
    img {
        width: 80px;
    }
}

.navbar {
    border-right: 1px solid var(--boc-secondary);
    background-color: var(--info);
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar::-webkit-scrollbar {
    width: 4px;
}
/* Track */
.navbar::-webkit-scrollbar-track {
    background: var(--boc-primary);
}
/* Handle */
.navbar::-webkit-scrollbar-thumb {
    background: var(--boc-secondary);
}
/* Handle on hover */
.navbar::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

.nav-item {
    width: 100%;
    overflow: hidden;

    :hover {
        color: white;
    }
}
.nav-link.active {
    font-weight: 500;
    font-size: 17px;
    color: white;

    padding: 0 0.5rem;
    border-left: 1px solid var(--boc-secondary);
    margin: 0.4rem 1rem;
}
.nav-link {
    color: var(--light-gray);
}
.service-link {
    padding: 0.1rem 1rem;
}

.sidebar-text {
    font-size: .7rem;
    padding: 0.15rem 1rem;
    color: var(--light-gray);
}
fa-icon {
    color: var(--light-gray);

    :hover {
        color: white;
    } 
}


/*
*   Angular Material
*/ 
.mat-accordion {
    outline: none;
}
.mat-expansion-panel {
    outline: none;
    display: inline;
    border: none;
    :hover {
        background: none !important;
    }
}
.mat-expansion-panel:hover .mat-expansion-panel-header-title {
    color: white;
}
.mat-expansion-panel-header {
    font-size: 1rem;
    padding: 0;
    height: inherit !important;
}
.mat-expansion-panel-header-title {
    outline: none;
}
.mat-expansion-indicator::after {
    margin-right: 1rem !important;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    padding: 0;
}

.fixed-top {
    top: 0;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    hr {
        margin: 1.5rem 15px 1.5rem;
    }
    .navbar {
        position: absolute;
        height: 100vh;
        width: 100%;
    }
    .brand {
        img {
            margin-top: 1rem;
            width: 182px;
        }
    }
}