<!-- NOTA: Arreglar este cochinero. Hacerlo responsive. -->
<!-- Mobile -->
<div class="d-lg-none">
    <nav class="navbar navbar-expand-lg navbar-light d-flex flex-lg-column align-items-start">
        <a class="brand py-lg-4 px-lg-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <img src="assets/logo-boc-black.png">
        </a>
        <button class="navbar-toggler" type="button" (click)="toggleMenu()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse show navbar-collapse mt-3 w-100" [@openCloseMenu]="menu ? 'open' : 'closed'">
            <ul class="nav flex-column align-self-start w-100">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/services-page" routerLinkActive="active">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/doctors/miguel" routerLinkActive="active">Dr. Miguel G Yee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/doctors/lupita" routerLinkActive="active">Dr. Lupita Cano</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/doctors/daniel" routerLinkActive="active">Dr. Daniel Valenzuela</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
                </li>
                <li class="nav-item">
                    <hr>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info sidebar-text" href="tel:6192705368">US: +1(619)-270-5368</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info sidebar-text" href="tel:011526646347626">MX: +1(664)-634-7626</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary sidebar-text" href="mailto:bajaoralcenter@gmail.com">bajaoralcenter@gmail.com</a>
                </li>
                <li class="nav-item">
                    <div class="nav-link py-3">
                        <a href="https://www.facebook.com/BajaOralCenter" target="__blank">
                            <fa-icon class="pl-1 pr-4" [icon]="faFacebook" size="md"></fa-icon>
                        </a>
                        <a href="https://www.instagram.com/bajaoralcenter" target="__blank">
                            <fa-icon class="pl-1 pr-4" [icon]="faInstagram" size="md"></fa-icon>
                        </a>
                        <a href="https://api.whatsapp.com/send?phone=6192705368" target="__blank">
                            <fa-icon class="pl-1 pr-4" [icon]="faWhatsapp" size="md"></fa-icon>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- Desktop -->
<div class="d-none d-lg-block sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light d-flex flex-lg-column align-items-start">
        <a class="brand py-lg-4 px-lg-3" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <img src="assets/logo-boc-black.png">
        </a>
        <button class="navbar-toggler" type="button" (click)="toggleMenu()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse show navbar-collapse mt-3 w-100">
            <ul class="nav flex-column align-self-start w-100">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/services-page" routerLinkActive="active">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/doctors/miguel" routerLinkActive="active">Dr. Miguel G Yee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/doctors/lupita" routerLinkActive="active">Dr. Lupita Cano</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/doctors/daniel" routerLinkActive="active">Dr. Daniel Valenzuela</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
                </li>
                <li class="nav-item">
                    <hr>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info sidebar-text" href="tel:6192705368">US: +1(619)-270-5368</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info sidebar-text" href="tel:011526646347626">MX: +1(664)-634-7626</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary sidebar-text" href="mailto:bajaoralcenter@gmail.com">bajaoralcenter@gmail.com</a>
                </li>
                <li class="nav-item">
                    <div class="nav-link pt-4">
                        <a href="https://www.facebook.com/BajaOralCenter" target="__blank">
                            <fa-icon class="pl-1 pr-4" [icon]="faFacebook" size="md"></fa-icon>
                        </a>
                        <a href="https://www.instagram.com/bajaoralcenter" target="__blank">
                            <fa-icon class="pl-1 pr-4" [icon]="faInstagram" size="md"></fa-icon>
                        </a>
                        <a href="https://api.whatsapp.com/send?phone=6192705368" target="__blank">
                            <fa-icon class="pl-1 pr-4" [icon]="faWhatsapp" size="md"></fa-icon>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>