hr {
    width: 80%;
    margin: 1rem 15px 1rem;
    border-top: 1px solid #c7b59b;
}

.brand {
    :hover {
        transform: scale(1.05);
        transition: all 200ms;
    }
    img {
        width: 90px;
    }
}

.navbar {
    border-right: 1px solid #c7b59b;
}

.nav-item {
    width: 100%;
    overflow: hidden;

    :hover {
        color: var(--primary);
    }
}
.nav-link.active {
    font-weight: 500;
    color: var(--primary);

    padding: 0 0.5rem;
    border-left: 1px solid #c7b59b;
    margin: 0.4rem 1rem;
}
.nav-link {
    color: var(--secondary);
}

.sidebar-text {
    font-size: .7rem;
    padding: 0.15rem 1rem;
    color: black;
}

/*
*   Angular Material
*/ 
.mat-accordion {
    outline: none;
}
.mat-expansion-panel {
    outline: none;
    display: inline;
    border: none;
    :hover {
        background: none !important;
    }
}
.mat-expansion-panel:hover .mat-expansion-panel-header-title {
    color: var(--primary);
}
.mat-expansion-panel-header {
    font-size: 1rem;
    padding: 0;
    height: inherit !important;
}
.mat-expansion-panel-header-title {
    outline: none;
}
.mat-expansion-indicator::after {
    margin-right: 1rem !important;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    hr {
        margin: 1.5rem 15px 1.5rem;
    }
    .navbar {
        position: absolute;
        height: 100vh;
        width: 100%;
    }
    .brand {
        img {
            margin-top: 1rem;
            width: 130px;
        }
    }
}