<app-banner 
    [bgImageDesktop]="'assets/1200x400.jpg'" 
    [bgImageMobile]="'assets/1200x400.jpg'" 
    [titleType]="'image'" 
    [titleContent]="'assets/img/signatures/s-drcano.png'" 
    [subtitleHtml]="subtitleHtml" ></app-banner>

<div id="info" class="end">
    <div class="d-flex flex-column">
        <!-- Element Box - Img/Text -->
        <div class="d-flex flex-column flex-lg-row info-box pt-md-5 pt-2">
            <div class="d-flex flex-fill justify-content-center w-100 order-2 order-lg-1">
                <img src="assets/img/doc/cano-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="d-flex flex-fill justify-content-center justify-content-lg-start align-items-md-center pb-lg-4 w-100 order-1 order-lg-2 pt-4">
                <div class="info-txt">
                    <h4>Experience</h4>
                    <hr>
                    <p>Dr. Lupita has grown with the clinic, starting as a dental assistant, now 10 years later being a well-recognized dentist, 
                        always in constant improvement using the most advanced and current techniques in high aesthetic dentistry.</p>
                </div>
            </div>
        </div>
        <!-- Element Box - Text/Img -->
        <div class="d-flex flex-column flex-lg-row info-box bg-light">
            <div class="d-flex flex-fill justify-content-center w-100 order-2">
                <img src="assets/img/doc/cano-3.jpg" alt="" class="img-fluid">
            </div>
            <div class="d-flex flex-fill justify-content-center align-items-lg-center pb-lg-4 w-100 order-1 pt-4">
                <div class="info-txt">
                    <h4>Mission</h4>
                    <hr>
                    <p>My patients motivate me every single day to be the best dentist I can be.Because smiling is the 
                        main goal of my patients, and mine is to be able to restore the confidence to do so.</p>
                    </div>
                </div>
        </div>
        <!-- Element Box - Img/Text -->
        <div class="d-flex flex-column flex-lg-row info-box">
            <div class="d-flex flex-fill justify-content-center w-100 order-2 order-lg-1">
                <img src="assets/img/doc/cano-2.jpg" alt="" class="img-fluid">
            </div>
            <div class="d-flex flex-fill justify-content-center justify-content-lg-start align-items-md-end pb-lg-4 w-100 order-1 order-lg-2 pt-4">
                <div class="info-txt">
                    <h4>Academic</h4>
                    <hr>
                    <p>Dr. Cano earned her DDS degree from the university of Baja California and she's certified by the mexican dental 
                        association since 2011 and she has a diploma in advanced cosmetic dentistry.</p>
                </div>
            </div>
        </div>
    </div>
</div>