.contact-card {
    max-width: 90vw;
}

.step-content {
    padding-left: 0;
    padding-right: 0;
    height: 400px;
}

.circular-img {
    display: inline-block;
    position: absolute;
    width: 240px;
    height: 240px;
    overflow: hidden;
    border-radius: 50%;
    top: 20%;
    left: -20%;

    img {
        width: auto;
        height: 100%;
        margin-left: -50px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .contact-card {
        max-width: 80vw;
    }
    .step-content {
        padding-left: 12vw;
        padding-right: 4vw;
        height: 300px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .contact-card {
        max-width: 800px;
    }
    .step-content {
        padding-left: 10vw;
    }
}