.contact-card {
    max-width: 90vw;
}

.header-title {
    span {
        color: rgba(0, 0, 0, 0.54);
        font-size: 14px;
    }
}

.step-content {
    padding-left: 0;
    padding-right: 0;
}

.step-content-short {
    padding: 1rem 0;
}

.mat-card-title {
    font-size: 1.2rem;
}

.circular-img {
    display: inline-block;
    position: absolute;
    width: 240px;
    height: 240px;
    overflow: hidden;
    border-radius: 50%;
    top: 35%;
    left: -20%;

    img {
        width: auto;
        height: 100%;
        margin-left: -50px;
    }
}

.file-input {
    display: none;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .contact-card {
        max-width: 80vw;
    }
    .step-content {
        padding-left: 12vw;
        padding-right: 4vw;
    }
    .step-content-short {
        padding: 2rem 0;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .contact-card {
        max-width: 800px;
    }
    .step-content {
        padding-left: 10vw;
    }
}