<mat-carousel
  #matCarousel
  [timings]="timings"
  [autoplay]="autoplay"
  [interval]="interval"
  [loop]="loop"
  [hideArrows]="hideArrows"
  [hideIndicators]="hideIndicators"
  [color]="color"
  [maxWidth]="maxWidth"
  [proportion]="proportion"
  [useKeyboard]="useKeyboard"
  [useMouseWheel]="useMouseWheel"
  [slides]="slides"
  [maintainAspectRatio]="maintainAspectRatio"
  [slideHeight]="slideHeight"
  (change)="onChange($event)"
  >
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slidesList; let i = index"
    [image]="slide.backgroundImage"
    [overlayColor]="overlayColor"
    [hideOverlay]="hideOverlay"
  >
    <ng-container *ngIf="showContent">
      <!-- <div style="height: 100%;" (click)="onClick(i)"></div> -->
      <div style="height: 100%;"></div>
    </ng-container>
  </mat-carousel-slide>
</mat-carousel>