/* You can add global styles to this file, and also import other style files */

// Bootstrap Functions
@import "../node_modules/bootstrap/scss/functions";
// Custom Variables
@import "./bootstrap-variables.scss";
// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

body {
    font-family: 'Kumb';
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}


// TAREA: Esto debe de ir en un componente aparte.
#banner {
    background-image: url("src/assets/1200x400.jpg");
    background-size: cover;
    height: 300px;

    div {
        width: 100%;
    }

    .main-txt {
        margin-left: 2rem;
        margin-top: 0rem;
        margin-right: 2rem;
    }

    button {
        padding: .35rem 2rem;
    }
}
// TAREA: Componente aparte.
#info {
    .info-box {
        padding-top: 0;
    }
    .info-txt {
        padding: 1.5rem;
    }
}


h1 {
    font-weight: 400;
}

hr {
    width: 100%;
    margin: 1.5rem 0;
    border-top: 1px solid #c7b59b;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #banner {
        .main-txt {
            margin-left: 3rem;
        }
    }

    #info {
        img {
            z-index: 10;
            margin-top: 1.5rem;
            margin-bottom: -1.5rem;
        }

        .info-box {
            padding-top: 3rem;
        }
        .info-txt {
            padding: 0rem 3rem;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #banner {
        height: 400px;

        .main-txt {
            width: 35%;
            margin-top: 2rem;
        }
    }

    #info {
        .info-txt {
            width: 80%;
            padding: 0;

            hr, p {
                margin-left: 2.5rem;
            }
        }
    }
}