#home {
    &__banner {
        background-image: url("src/assets/1200x400.jpg");
        height: 400px;

        div {
            width: 100%;
        }

        .main-txt {
            margin-left: 2rem;
            margin-top: 2rem;
            margin-right: 2rem;
        }

        button {
            padding: .35rem 2rem;
        }
    }

    &__about {
        img {
            margin-top: 1.5rem;
            margin-bottom: -1.5rem;
        }

        .about {
            &-box {
                padding-top: 3rem;
            }
            &-txt {
                width: 85%;
                hr, p {
                    margin-left: 2.5rem;
                }
            }
        }
            
    }
}

h1 {
    font-weight: 400;
    text-align: center;
}

hr {
    width: 90%;
    margin: 1.5rem 0;
    border-top: 1px solid #c7b59b;
}

.about-box {
    div {
        width: 100%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #home {
        &__banner {
            div {
                width: 50%;
            }
        }
    }

    hr {
        width: 50%;
    }
    h1 {
        text-align: left;
    }

    .about-box {
        div {
            width: 50%;
        }
    }
}