<div id="home__banner" class="d-flex align-items-center">
    <div class="flex-fill flex-column main-txt">
        <h1>
            Dazzle with your smile, <br/>
            start shinning today.
        </h1>
        <hr>
        <div class="text-center">
            <button class="btn btn-info">Make an appointment</button>
        </div>
    </div>
    <div class="flex-fill d-none d-lg-block"></div>
</div>

<div id="home__about">
    <div class="d-flex about-box flex-column flex-lg-row">
        <div class="d-flex flex-fill justify-content-center">
            <img src="assets/560x286.jpg" alt="" class="img-fluid mt-0">
        </div>
        <div class="d-flex flex-fill flex-column justify-content-center">
            <div class="about-txt">
                <h3>Welcome to Baja Oral Center</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum, 
                    eros massa imperdiet urna, a feugiat nulla est et libero.</p>
            </div>
        </div>
    </div>
    <div class="d-flex about-box flex-column flex-lg-row bg-light">
        <div class="d-flex flex-fill flex-column justify-content-center ml-5">
            <div class="about-txt">
                <h3>Technology & innovation</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum, 
                    eros massa imperdiet urna, a feugiat nulla est et libero.</p>
            </div>
        </div>
        <div class="d-flex flex-fill justify-content-center">
            <img src="assets/560x286.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <br><br>
</div>