<div id="banner" class="d-flex align-items-center">
    <div class="flex-fill flex-column main-txt w-50">
        <h1>
            Dazzle with your smile, <br/>
            start shinning today.
        </h1>
        <hr class="w-50">
        <button class="btn btn-info">Make an appointment</button>
    </div>
    <div class="flex-fill d-none d-md-block w-50"></div>
</div>

<div id="info">
    <div class="d-flex flex-column">
        <!-- Element Box - Img/Text -->
        <div class="d-flex flex-column flex-lg-row info-box">
            <div class="d-flex flex-fill justify-content-center w-100 order-2 order-lg-1">
                <img src="assets/560x286.jpg" alt="" class="img-fluid">
            </div>
            <div class="d-flex flex-fill justify-content-center justify-content-lg-start align-items-md-end pb-lg-4 w-100 order-1 order-lg-2">
                <div class="info-txt">
                    <h3>Welcome to <b>Baja Oral Center</b></h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum, 
                        eros massa imperdiet urna, a feugiat nulla est et libero.</p>
                </div>
            </div>
        </div>
        <!-- Element Box - Text/Img -->
        <div class="d-flex flex-column flex-lg-row info-box bg-light">
            <div class="d-flex flex-fill justify-content-center w-100 order-2">
                <img src="assets/560x286.jpg" alt="" class="img-fluid">
            </div>
            <div class="d-flex flex-fill justify-content-center align-items-lg-end pb-lg-4 w-100 order-1">
                <div class="info-txt">
                    <h3>Technology & innovation</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum, 
                        eros massa imperdiet urna, a feugiat nulla est et libero.</p>
                    </div>
                </div>
        </div>
        <!-- Element Box - Img/Text -->
        <div class="d-flex flex-column flex-lg-row info-box">
            <div class="d-flex flex-fill justify-content-center w-100 order-2 order-lg-1">
                <img src="assets/560x286.jpg" alt="" class="img-fluid">
            </div>
            <div class="d-flex flex-fill justify-content-center justify-content-lg-start align-items-md-end pb-lg-4 w-100 order-1 order-lg-2">
                <div class="info-txt">
                    <h3>Our priority is <b>you</b></h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum, 
                        eros massa imperdiet urna, a feugiat nulla est et libero.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center bg-light section-header">
    <h2 class="mt-md-4">Our <b>Gold Standard</b></h2>
</div>

<div id="home__services">
    <div class="d-flex flex-column">
        <!-- Element Box - BgImg/Text -->
        <div class="d-flex flex-column flex-lg-row">
            <div class="d-flex flex-fill w-100">
                <div class="service-box d-flex align-items-center justify-content-center justify-content-lg-start w-100">
                    <img src="assets/600x220.jpg" alt="">
                    <div class="service-txt">
                        <h3>Customer service</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum.</p>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-fill w-100">
                <div class="service-box d-flex align-items-center justify-content-center justify-content-lg-start w-100">
                    <div class="service-txt">
                        <h3>Best dental professionals</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Element Box - Text/BgImg -->
        <div class="d-flex flex-column flex-lg-row">
            <div class="d-flex flex-fill w-100">
                <div class="service-box d-flex align-items-center justify-content-center justify-content-lg-start w-100">
                    <div class="service-txt">
                        <h3>Patient safety</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum.</p>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-fill w-100">
                <div class="service-box d-flex align-items-center justify-content-center justify-content-lg-start w-100">
                    <img src="assets/600x220.jpg" alt="">
                    <div class="service-txt">
                        <h3>Uber to the border</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Element Box - BgImg/Text -->
        <div class="d-flex flex-column flex-lg-row">
            <div class="d-flex flex-fill w-100">
                <div class="service-box d-flex align-items-center justify-content-center justify-content-lg-start w-100">
                    <img src="assets/600x220.jpg" alt="">
                    <div class="service-txt">
                        <h3>Open on Saturday</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum.</p>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-fill w-100">
                <div class="service-box d-flex align-items-center justify-content-center justify-content-lg-start w-100">
                    <div class="service-txt">
                        <h3>Always connected with you</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, nisl vel rutrum fermentum. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="home__features" class="bg-light">
    <div class="d-flex justify-content-around">
        <a href="#" target="__self" class="feature-box d-flex flex-column align-items-center justify-content-center">
            <b>Email us</b>
            <div class="feature-icon">
                <fa-icon [icon]="['far', 'envelope']" [fixedWidth]="true"></fa-icon>
            </div>
        </a>
        <a href="#" target="__self" class="feature-box d-flex flex-column align-items-center justify-content-center">
            <b>Call us</b>
            <div class="feature-icon">
                <fa-icon [icon]="['fas', 'phone-alt']" [fixedWidth]="true"></fa-icon>
            </div>
        </a>
        <a href="#" target="__self" class="feature-box d-flex flex-column align-items-center justify-content-center">
            <b>Chat with us</b>
            <div class="feature-icon">
                <fa-icon [icon]="['far', 'user']" [fixedWidth]="true"></fa-icon>
            </div>
        </a>
        <a href="#" target="__self" class="feature-box d-flex flex-column align-items-center justify-content-center">
            <b>Find us</b>
            <div class="feature-icon">
                <fa-icon [icon]="['fas', 'map-marker-alt']" [fixedWidth]="true"></fa-icon>
            </div>
        </a>
    </div>
</div>