<div id="banner" class="d-flex align-items-center">
    <img src="assets/img/boc-banner-home.png" alt="" class="bg-img d-none d-lg-block">
    <img src="assets/img/boc-banner-home-small.png" alt="" class="bg-img d-block d-lg-none">
    <div class="d-flex flex-fill flex-row main-txt justify-content-center w-50">
        <img src="assets/dazzlesmile.png" class="" alt="">
    </div>
    <div class="flex-fill d-none d-md-block w-50"></div>
</div>

<app-carousel></app-carousel>

<div id="info-home">
    <div class="d-flex flex-column">
        <!-- Element Box - Img/Text -->
        <div class="d-flex flex-column flex-lg-row info-box pt-3">
            <div class="d-flex flex-fill justify-content-center w-100 order-2 order-lg-1">
                <img src="assets/img/home-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="d-flex flex-fill justify-content-center justify-content-lg-start align-items-md-center pb-lg-4 w-100 order-1 order-lg-2">
                <div class="info-txt">
                    <h4>Welcome to <b>Baja Oral Center</b></h4>
                    <hr>
                    <p>We are a premier group of Tijuana Dentists who pride on giving the most specialized dental attention that you deserve;
                        in dentistry we talk the same language.
                    </p>
                </div>
            </div>
        </div>
        <!-- Element Box - Text/Img -->
        <div class="d-flex flex-column flex-lg-row info-box bg-light">
            <div class="d-flex flex-fill justify-content-center w-100 order-2">
                <img src="assets/img/home-2.jpg" alt="" class="img-fluid">
            </div>
            <div class="d-flex flex-fill justify-content-center align-items-lg-center pb-lg-4 w-100 order-1">
                <div class="info-txt">
                    <h4>Technology & innovation</h4>
                    <hr>
                    <p>We are continuosly training with the latest in technological advances and the most innovative treatments to offer you
                        the best experience and treatment in dentistry, dental aesthetics and implant surgery.</p>
                    </div>
                </div>
        </div>
        <!-- Element Box - Img/Text -->
        <div class="d-flex flex-column flex-lg-row info-box">
            <div class="d-flex flex-fill justify-content-center w-100 order-2 order-lg-1">
                <img src="assets/img/home-3.jpg" alt="" class="img-fluid">
            </div>
            <div class="d-flex flex-fill justify-content-center justify-content-lg-start align-items-md-center pb-lg-4 w-100 order-1 order-lg-2">
                <div class="info-txt">
                    <h4>Our priority is <b>you</b></h4>
                    <hr>
                    <p>Every treatment plan we do is uniquely tailored to fit your individual needs and wants with the least possible appointments and 
                        the best quality and care.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center bg-light section-header">
    <h3 class="mt-md-4">Our <b>Gold Standard</b></h3>
</div>

<div id="home__services">
    <div class="d-flex flex-column">
        <!-- Element Box - BgImg/Text -->
        <div class="d-flex flex-column flex-lg-row">
            <div class="d-flex flex-fill w-100">
                <div class="service-box d-flex align-items-start justify-content-center justify-content-md-start w-100">
                    <div class="white-out">
                        <img src="assets/img/home-8.png" alt="">
                    </div>
                    <div class="service-txt">
                        <h4>Our customer service</h4>
                        <p>Because you're probably coming from far away, we have a friendly staff that can assist you in planning your trip to our office
                            and scheduling your next appointment with us.
                        </p>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-fill w-100">
                <div class="service-box d-flex align-items-start justify-content-center justify-content-md-start w-100">
                    <div class="white-out">
                        <img src="assets/img/home-12.png" alt="">
                    </div>
                    <div class="service-txt">
                        <h4>The best dental professionals</h4>
                        <p>Our team of dentist strives to always be on the cutting edge of new treatments and dental materials,
                            so we can offer you the best and most innovative dentistry.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Element Box - Text/BgImg -->
        <div class="d-flex flex-column flex-lg-row">
            <div class="d-flex flex-fill w-100">
                <div class="service-box d-flex align-items-start justify-content-center justify-content-md-start w-100">
                    <div class="white-out">
                        <img src="assets/img/home-10.png" alt="" style="object-position: 50% 20%;">
                    </div>
                    <div class="service-txt">
                        <h4>Patient safety</h4>
                        <p>In addition to the necessary precaution such as hand sanitizer dispensers, temperature measurements and facemask,
                            we are increasing the frequency of cleaning and disinfection of the clinic and disinfection of the clinic between appointments.
                        </p>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-fill w-100">
                <div class="service-box d-flex align-items-start justify-content-center justify-content-md-start w-100">
                    <div class="white-out">
                        <img src="assets/img/home-11.png" alt="">
                    </div>
                    <div class="service-txt">
                        <h4>Always connected with you</h4>
                        <p>Because being connected is an important key on your dental journey we've expanded our ways to communicate through
                            instagram, facebook, email, whatsapp and phone.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Element Box - BgImg/Text -->
        <div class="d-flex flex-column flex-lg-row">
            <div class="d-flex flex-fill w-100">
                <div class="service-box d-flex align-items-start justify-content-center justify-content-md-start w-100">
                    <div class="white-out">
                        <img src="assets/img/home-9-2.png" alt="">
                    </div>
                    <div class="service-txt">
                        <h4>We are open on Saturdays</h4>
                        <p>We know that taking a work day off just to go to the dentist is difficult. That is why we have extended our office
                            hours to 5pm on weekdays and of Saturdays we are open from 9am to 3pm.
                        </p>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-fill w-100">
                <div class="service-box d-flex align-items-start justify-content-center justify-content-md-start w-100">
                    <div class="white-out">
                        <img src="assets/img/home-7.png" alt="">
                    </div>
                    <div class="service-txt">
                        <h4>Uber</h4>
                        <p>We provide our patients a courtesy return to the border as a small way to say thank you.
                            We offer free uber rides back to the border so you don't have to drive across.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="home__features" class="bg-light">
    <div class="d-flex justify-content-around">
        <a href="#" target="__self" class="feature-box d-flex flex-column align-items-center justify-content-center">
            <b>Email us</b>
            <div class="feature-icon">
                <fa-icon [icon]="['far', 'envelope']" [fixedWidth]="true"></fa-icon>
            </div>
        </a>
        <a href="#" target="__self" class="feature-box d-flex flex-column align-items-center justify-content-center">
            <b>Call us</b>
            <div class="feature-icon">
                <fa-icon [icon]="['fas', 'phone-alt']" [fixedWidth]="true"></fa-icon>
            </div>
        </a>
        <a href="#" target="__self" class="feature-box d-flex flex-column align-items-center justify-content-center">
            <b>Chat with us</b>
            <div class="feature-icon">
                <fa-icon [icon]="['far', 'user']" [fixedWidth]="true"></fa-icon>
            </div>
        </a>
        <a href="#" target="__self" class="feature-box d-flex flex-column align-items-center justify-content-center">
            <b>Find us</b>
            <div class="feature-icon">
                <fa-icon [icon]="['fas', 'map-marker-alt']" [fixedWidth]="true"></fa-icon>
            </div>
        </a>
    </div>
</div>