@import "../../../node_modules/swiper/swiper";
@import "../../../node_modules/swiper/components/effect-coverflow/effect-coverflow";

#home {
    &__services {
        .service-container {
            overflow: hidden;
        }
        .shinny-glass {
            &:hover {
                .service-txt {
                    opacity: 0;
                    transition: opacity 500ms ease-out;
                }
            }
        }
        .service-txt {
            padding: 3rem;
            z-index: 1;
            opacity: 1;
            cursor: default;
            transition: opacity 500ms ease;

            h4 {
                font-weight: 700;
                color: var(--info);
                text-align: left;
                padding-bottom: .5rem;
            }
            p {
                padding-top: .5rem;
                border-top: 1px solid #c7b59b;
            }
        }
    }

    &__features {
        border-top: 1px solid #c7b59b;
        padding: 6rem 0;

        b {
            font-size: 14px;
        }

        .feature-icon {
            display: block;
            border: 1px solid #c7b59b;
            border-radius: 200px;
            margin: .5rem 0;

            fa-icon {
                display: inherit;
                padding: .4rem .5rem;
                font-size: 24px;
                color: #4799ba;
            }
        }
    }
}

.section-header {
    padding: 4rem 0;

    h3 {
        text-align: center;
        font-size: 1.25rem;
    }
    h3:before {
        content: '';
        position: absolute;
        width: 50%;
        border-top: 2px solid #c7b59b;
        right: -15%;
        margin-left: 50%;
        margin-right: 50%;
        margin-top: -25px;
    }
    h3:after {
        content: '';
        position: absolute;
        width: 50%;
        height: 50px;
        border-bottom: 2px solid #c7b59b;
        left: -15%;
        margin-left: 50%;
        margin-right: 50%;
    }
}

.swiper {
    overflow: hidden;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 50px;
}

.swiper-img {
    object-fit: cover;
    height: 160px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    max-width: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-wrapper {
    width: 100%;
}

.swiper-buttons-wrapper {
    display: flex;
    justify-content: center;
}

.swiper-button-prev, .swiper-button-next {
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background: #4799ba;
    border: 2px solid transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: black;
        background: #3a6a7d;
    }

    &:focus, &:active {
        background: #3a6a7d;
        border: 2px solid black;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #home {
        &__services {
            .service-txt {
                width: 70%;
                margin: 0 auto;
            }
        }
        &__features {
            border-top: 1px solid #c7b59b;
            padding: 3rem 0;
        }
    }

    .section-header {
        h3 {
            padding: 1rem 0;
            font-size: 1.75rem;
        }
    }

    .swiper {
        overflow: hidden;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-img {
        object-fit: cover;
        height: 280px;
    }

    .swiper-slide {
        max-width: 50%;
    }

    .swiper-buttons-wrapper {
        display: none;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #home {
        &__services {
            .service-txt {
                width: 85%;
                margin: 0;
                h4 {
                    font-size: 2rem;
                }
            }
        }

        &__features {
            padding: 2.5rem 9rem;
        }
    }

    .section-header {
        padding: 4rem 0;
    
        h3:before {
            width: 40%;
            right: -10%;
        }
        h3:after {
            height: 60px;
            width: 40%;
            left: -10%;
        }
    }

}





/* ************************** Services from Services Page *************************** */
.services_services {
    width: 90%;
}

// Small devices (440px and up)
@media (min-width: 440px) {
    .services_services {
        width: 100%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .services_services {
        width: 90%;
    }
}



/* ************************** Service Text from Service Individual Page *************************** */
.text-banner .d-flex {
    padding: 4rem 2rem;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .text-banner .d-flex {
        padding: 3rem 8rem;
    }
}