#home {
    &__services {
        .service-container {
            overflow: hidden;
        }
        .shinny-glass {
            &:hover {
                .service-txt {
                    opacity: 0;
                    transition: opacity 500ms ease-out;
                }
            }
        }
        .service-txt {
            padding: 3rem;
            z-index: 1;
            opacity: 1;
            cursor: default;
            transition: opacity 500ms ease;

            h4 {
                font-weight: 700;
                color: var(--info);
                text-align: left;
                padding-bottom: .5rem;
            }
            p {
                padding-top: .5rem;
                border-top: 1px solid #c7b59b;
            }
        }
    }

    &__features {
        border-top: 1px solid #c7b59b;
        padding: 6rem 0;

        b {
            font-size: 14px;
        }

        .feature-icon {
            display: block;
            border: 1px solid #c7b59b;
            border-radius: 200px;
            margin: .5rem 0;

            fa-icon {
                display: inherit;
                padding: .4rem .5rem;
                font-size: 24px;
                color: #4799ba;
            }
        }
    }
}

.section-header {
    padding: 4rem 0;

    h3:before {
        content: '';
        position: absolute;
        width: 50%;
        border-top: 2px solid #c7b59b;
        right: -15%;
        margin-left: 50%;
        margin-right: 50%;
        margin-top: -25px;
    }
    h3:after {
        content: '';
        position: absolute;
        width: 50%;
        height: 50px;
        border-bottom: 2px solid #c7b59b;
        left: -15%;
        margin-left: 50%;
        margin-right: 50%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #home {
        &__services {
            .service-txt {
                width: 70%;
                margin: 0 auto;
            }
        }
        &__features {
            border-top: 1px solid #c7b59b;
            padding: 3rem 0;
        }
    }

    .section-header {
        h3 {
            padding: 1rem 0;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #home {
        &__services {
            .service-txt {
                width: 85%;
                margin: 0;
                h4 {
                    font-size: 2rem;
                }
            }
        }

        &__features {
            padding: 2.5rem 9rem;
        }
    }

    .section-header {
        padding: 4rem 0;
    
        h3:before {
            width: 40%;
            right: -10%;
        }
        h3:after {
            height: 60px;
            width: 40%;
            left: -10%;
        }
    }

}





/* ************************** Services from Services Page *************************** */
.services_services {
    width: 90%;
}

// Small devices (440px and up)
@media (min-width: 440px) {
    .services_services {
        width: 100%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .services_services {
        width: 90%;
    }
}



/* ************************** Service Text from Service Individual Page *************************** */
.text-banner .d-flex {
    padding: 4rem 2rem;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .text-banner .d-flex {
        padding: 3rem 8rem;
    }
}